
hr{
    margin-inline-start: 0;
    background-color: red;
}
.starehe{
    
    box-shadow: 0 0 30px 1px #000;
    transform: scale(0.99);
    .back-photo{
        height: 100%;
        width: 100%;
        background-image: url('../images/logo/starehe.jpg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        // background-position: center;
        // background-size: cover;
        background-size: contain;
        border-radius: 14px;
        padding: 1vh 0;
        transition: 1s;
    }
}
.starehe:hover .back-photo{
    transform: scale(0.45, 0.3) translateY(-150%);
    border-radius: 25%;
}
      
.strathmore{
    box-shadow: 0 0 30px 1px #000;
    transform: scale(0.99);
    .back-photo{
        height: 100%;
        width: 100%;
        background-image: url('../images/logo/strath.png');
        background-repeat: no-repeat;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        background-position: center;
        background-size: contain;
        // background-size: 20% 100%;
        transition: 1s;
    }
}
.strathmore:hover .back-photo{
    transform: scale(0.45, 0.3) translateY(-150%);
    border-radius: 25%;
}

    
    


