.contact-page{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    .back{
        min-height: 100%;
        width: 100%;
        background-color: red;
        position: relative;
        // Very important note it down.
        overflow-x: hidden;

    }
    .back-2{
        min-height: 100%;
        width: 100%;
        // Very important note it down.
        overflow-x: hidden;
        background-color: blue;
    }
}