li{
    margin: 1.5rem 1rem;
}
.f-icon{
    margin: 0 1.5rem;
}
.email{
    color: #000;
}
.linkedin{
    color: #0e76a8;
}
.github{
    color: #000;
}
.instagram{
    color: #8a3ab9;
}
.twitter{
    color: #00acee;
}