.theme{
    position: absolute;
    background: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}
.theme-button{
    color: var(--textColor);
    text-align: center;
}
.theme:is(:hover, :focus){
    background-color: var(--secondaryColor);
    opacity: .8;
}
.explore{
    letter-spacing: .4rem;
    font-weight: 500;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    /* Hover-effects */
    background: none;
    transition: color .4s linear;
    position: relative;
}
.explore:hover{
    cursor: pointer;
    /* color: #fff; */
}
.explore::before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    border: 1px solid var(--textColor);
    /* border: 1.2px solid #000; */
    border-radius: 14px;
    z-index: 1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.explore::before{
    transform: scaleX(0);
}
.explore:hover::before{
    transform: scaleX(1);
}