.swiper {
    margin: 0;
  }
  .swiper-slide {
    width: 100% !important;
    height: 100% !important;
    background: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }