.input-field{
    width: 90%;
    margin: 1vh auto;
    height: fit-content;
    text-align: center;
    padding: 2vh 5vw;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 15vh;
    width: 90%;
    text-align: center;
    padding: 2vh 5vw;
    margin: 1vh auto;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}