.input-field{
    width: 90%;
    margin: 1vh auto;
    height: fit-content;
    text-align: center;
    padding: 2vh 5vw;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 14px;
    outline: none;
}