.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
}
.my-name{
    letter-spacing: .12rem;

}
ul{
    list-style: none;
}
li{
    display: inline;
    padding: 0 3vw;
}
li a{
    text-decoration: none;
    color: #fff;
}
.contact{
    text-align: center;
    letter-spacing: .13rem;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    border: none;
    border-radius: 14px;
}