@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
:root {
	--mainColor-light: #fff;
  --textColor-light: #000;
  --secondaryColor-light: #db2b39;
  --headingColor-light: #000;
  --portfolioColor-light: #e6e6e6;

  --portfolioGray: #e6e6e6;

  --mainColor-dark: #000;
  --textColor-dark: #fff;
	--secondaryColor-dark: #2FE0D0;
  --headingColor-dark: #2FE0D0;
  --portfolioColor-dark: #2FE0D0;


  --mainColor: var(--mainColor-light);
  --textColor: var(--textColor-light);
  --secondaryColor: var(--secondaryColor-light);
  --headingColor: var(--headingColor-light);
  --portfolioColor: var(--portfolioColor-light);
}

html,body,#root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--mainColor);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
p,h1,h2,h4,h5,h6,ul,li{
  color: var(--textColor);
}

::-webkit-scrollbar {
  display:none;
}

body{
  overscroll-behavior: none;
}

/* @media(prefers-color-scheme: dark){
  :root{
    --mainColor: var(--mainColor-dark);
    --textColor: var(--textColor-dark);
    --secondaryColor: var(--secondaryColor-dark);
    --headingColor: var(--headingColor-dark);
    --portfolioColor: var(--portfolioColor-dark);
    cursor: url('./assets/images/cursor/white-cursor.svg'),auto; 
  }
}

@media(prefers-color-scheme: light){
  :root{
    --mainColor: var(--mainColor-light);
    --textColor: var(--textColor-light);
    --secondaryColor: var(--secondaryColor-light);
    --headingColor: var(--headingColor-light);
    --portfolioColor: var(--portfolioColor-light);
    cursor: url('./assets/images/cursor/black-cursor.svg'),auto; 
  }
} */
[color-scheme="dark"] {
  --mainColor: var(--mainColor-dark);
  --textColor: var(--textColor-dark);
  --secondaryColor: var(--secondaryColor-dark);
  --headingColor: var(--headingColor-dark);
  --portfolioColor: var(--portfolioColor-dark);
}
[color-scheme="light"] {
  --mainColor: var(--mainColor-light);
  --textColor: var(--textColor-light);
  --secondaryColor: var(--secondaryColor-light);
  --headingColor: var(--headingColor-light);
  --portfolioColor: var(--portfolioColor-light);
  cursor: url('./assets/images/cursor/black-cursor.svg'),auto; 

}
