@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
:root {
	--mainColor-light: #fff;
  --textColor-light: #000;
  --portfolioGray: #e6e6e6;
	--mainColorLight: #5767aa;
	--secondaryColor-light: #db2b39;

  --mainColor-dark: #000;
  --textColor-dark: #fff;
	--secondaryColor-dark: #2FE0D0;
}

html,body,#root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--mainColor);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
p,h1,h2,h3,h4,h5,h6,ul,li{
  color: var(--textColor);
}
::-webkit-scrollbar {
  display:none;
}

body{
  overscroll-behavior: none;
}
body.dark {
  --mainColor: var(--mainColor-dark);
  --textColor: var(--textColor-dark);
  --secondaryColor: var(--secondaryColor-dark);
}
body.light {
  --mainColor: var(--mainColor-light);
  --textColor: var(--textColor-light);
  --secondaryColor: var(--secondaryColor-light);
}



/* @media(prefers-color-scheme: dark){
  :root{
    --mainColor: var(--mainColor-dark);
    --textColor: var(--textColor-dark);
    --secondaryColor: var(--secondaryColor-dark);
    cursor: url('./assets/images/cursor/white-cursor.svg'),auto; 
  }
}

@media(prefers-color-scheme: light){
  :root{
    --mainColor: var(--mainColor-light);
    --textColor: var(--textColor-light);
    --secondaryColor: var(--secondaryColor-light);
    cursor: url('./assets/images/cursor/black-cursor.svg'),auto; 
  }
} */
[color-scheme="dark"] {
  --mainColor: var(--mainColor-dark);
  --textColor: var(--textColor-dark);
  --secondaryColor: var(--secondaryColor-dark);
}
[color-scheme="light"] {
  --mainColor: var(--mainColor-light);
  --textColor: var(--textColor-light);
  --secondaryColor: var(--secondaryColor-light);
}
